<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @books.each do |book| %>
     <tr>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td><%= link_to "Show Book", book %></td>
    </tr>
  <% end %>
    </tr>
  </tbody>
</table>
<%= link_to "New book", new_book_path %>
